/*Post Data
Mark Tasaka April 2018
Mutant Crawl Classics Character Generator*/


#characterName{
    position: absolute;
    top: 130px;
    left: 60px;
	font-size: 0.9em;
}

#arcAlignment{
    position: absolute;
    top: 125px;
    left: 480px;
	font-size: 0.9em;
}


#playerName{
    position: absolute;
    top: 195px;
    left: 540px;
	font-size: 0.9em;
}


#artifactName1{
    position: absolute;
    top: 685px;
    left: 450px;
    width: 180px;
	font-size: 0.8em;
}

#artifactCheck1{
    position: absolute;
    top: 685px;
    left: 660px;
	font-size: 0.8em;
}

#artifactEffect1{
    position: absolute;
    top: 685px;
    left: 700px;
    width: 210px;
	font-size: 0.5em;
}


#artifactName2{
    position: absolute;
    top: 732px;
    left: 450px;
    width: 180px;
	font-size: 0.8em;
}

#artifactCheck2{
    position: absolute;
    top: 732px;
    left: 660px;
	font-size: 0.8em;
}

#artifactEffect2{
    position: absolute;
    top: 732px;
    left: 700px;
    width: 210px;
	font-size: 0.5em;
}


#artifactName3{
    position: absolute;
    top: 780px;
    left: 450px;
    width: 180px;
	font-size: 0.8em;
}

#artifactCheck3{
    position: absolute;
    top: 780px;
    left: 660px;
	font-size: 0.8em;
}

#artifactEffect3{
    position: absolute;
    top: 780px;
    left: 700px;
    width: 210px;
	font-size: 0.5em;
}


#artifactName4{
    position: absolute;
    top: 828px;
    left: 450px;
    width: 180px;
	font-size: 0.8em;
}

#artifactCheck4{
    position: absolute;
    top: 828px;
    left: 660px;
	font-size: 0.8em;
}

#artifactEffect4{
    position: absolute;
    top: 828px;
    left: 700px;
    width: 210px;
	font-size: 0.5em;
}



#weaponDescription1{
    position: absolute;
    top: 895px;
    left: 70px;
    width: 220px;
	font-size: 0.65em;
}

#weaponDamage1{
    position: absolute;
    top: 895px;
    left: 340px;
	font-size: 0.8em;
}

#weaponDescription2{
    position: absolute;
    top: 933px;
    left: 70px;
    width: 220px;
	font-size: 0.65em;
}

#weaponDamage2{
    position: absolute;
    top: 933px;
    left: 340px;
	font-size: 0.8em;
}

#weaponDescription3{
    position: absolute;
    top: 970px;
    left: 70px;
    width: 220px;
	font-size: 0.65em;
}

#weaponDamage3{
    position: absolute;
    top: 970px;
    left: 340px;
	font-size: 0.8em;
}

#weaponDescription4{
    position: absolute;
    top: 1005px;
    left: 70px;
    width: 220px;
	font-size: 0.65em;
}

#weaponDamage4{
    position: absolute;
    top: 1005px;
    left: 340px;
	font-size: 0.8em;
}

#armourDescription{
    position: absolute;
    top: 1075px;
    left: 70px;
    width: 230px;
	font-size: 0.8em;
}

#armourBonus{
    position: absolute;
    top: 1075px;
    left: 340px;
	font-size: 0.8em;
}


#armourPenalityCheck{
    position: absolute;
    top: 1127px;
    left: 160px;
	font-size: 0.7em;
}

#armourSpeedPen{
    position: absolute;
    top: 1127px;
    left: 277px;
	font-size: 0.7em;
}

#fumbleArmourValue{
    position: absolute;
    top: 1127px;
    left: 368px;
	font-size: 0.7em;
}



#modifiedFumble{
    position: absolute;
    top: 420px;
    left:  785px;
	font-size: 0.9em;
}

#modifiedSpeed{
    position: absolute;
    top: 380px;
    left:  790px;
	font-size: 1.2em;
}


#modifiedArmourClass{
	position: absolute;
    top: 290px;
    left: 70px;
	font-size: 1.5em;
}

